<!doctype html>
<html>
<head>
	<title>{% block title %}el Swann{% endblock %}</title>
	{% block style %}
		{% ifdebug %}
			<link rel='stylesheet' href='{{ "/css/screen.css"|mtime }}'>
			<link rel='stylesheet' href='{{ "/css/lightbox.css"|mtime }}'>
			<link rel='stylesheet' href='{{ "/css/grids.css"|mtime }}'>
		{% else %}
			<link rel='stylesheet' href='{{ "/css/_screen.css"|mtime }}'>
		{% endifdebug %}
	{% endblock %}

	<link rel='alternate feed' type='application/atom+xml' href='/feeds/atom.xml' title='Atom Feed'>
	<meta name='google-site-verification' content='pESJtPh_M0lbaJ0BzK-W-eOAusaR96iQViB1PIBNPcg'>

	{% block head %}{% endblock %}

	{% ifnotdebug %}
	<script>
		var _gaq = _gaq || [];

		_gaq.push([ "_setAccount", "UA-17563278-1" ]);
		_gaq.push([ "_trackPageview" ]);
		(function() {
			var ga = document.createElement( "script" );
			ga.type = "text/javascript";
			ga.async = true;
			var protocol = "https:" == document.location.protocol ? "https://ssl" : "http://www";
			ga.src = protocol + ".google-analytics.com/ga.js";
			var s = document.getElementsByTagName( "script" )[0];
			s.parentNode.insertBefore( ga, s );
		})();
	</script>
	{% endifnotdebug %}
</head>
<body>
	<!-- header starts -->
	<div id='header-wrap'>

		<div id='header-photo'>
			<img alt='header photo' src='{{ "/img/header-photo.jpg"|mtime }}' width='890' height='290'>
		</div>

		<h1 id='logo-text'><a href='/' title=''>el Swann</a></h1>
		<p id='intro'>photography, media, and design</p>

		<div  id='nav'>
			<ul>
				{% block menu %}
					<li id='current'><a href='/'>Home</a></li>
					<li><a href='#pricing'>Pricing</a></li>
				{% endblock %}
			</ul>
		</div>

		<form id='quick-search' action='/search' method='get'>
			<a class='feed' rel='alternate feed' href='/feeds/atom.xml'>
				<img src='{{ "/img/rss_black.png"|mtime }}'>
			</a>
			<p>
				<label for='qsearch'>Search:</label>
				<input class='tbox' id='qsearch' type='text' name='q' value='Search This Site...' title='Start typing and hit ENTER'>
				<input class='btn' type='submit' value='Submit'>
			</p>
		</form>

	<!-- header ends here -->
	</div>

	<!-- content starts -->
	<div id='content-outer' class='clear'><div id='content-wrapper'>

		{% block subhead %}
		<div class='line services'>
			<div class='unit size1of3'>
				<h2>Photography</h2>
				<img class='thumb float-left' width='150' height='100' src='{{ "/img/camera-small.jpg"|mtime }}'>
				<p>
					Our commitment to excellence is our number one asset. We are
					focused on giving you quality service at reasonable prices. We
					intend to give you the full digital copies of your photo
					sessions so that you can decide what to do with them. They are
					YOUR memories and you deserve to have them all.
				</p>
				<p>
					I specialize in outdoor portrait, sports, birthday and wedding
					photography. While shooting portraits are great, I love to
					capture the moment of an event. Contact us for candid wedding
					and birthday packages.
				</p>
				<p>
					We also have the capabilities to restore old photos.
					Restoration prices begin at $20.00 and increase with the
					severity of damage to the photo. Unfortunately, every photo
					cannot be restored.
				</p>
			</div>
			<div class='unit size1of3'>
				<h2>Media</h2>
				<img class='thumb float-left' width='150' height='113' src='{{ "/img/vhs-small.jpg"|mtime }}'>
				<p>
					Our media focus is on creating slide shows that attempt to
					recreate the memories of special moments in your life. In the
					past we have created slide shows for graduations, weddings, and
					even funerals.  (Slide show prices vary based on the number of
					photos and length.)

					We can also turn your old VHS tapes into DVDs or better yet,
					video files. This type of service is one that I do not take
					lightly. I know how precious your videos are and we handle them
					with the utmost care.
				</p>
				<p>
					*We do not keep your files on our server. Once the files are
					converted and checked for accuracy they are removed. You are
					responsible for your DVD or Mpeg file.
				</p>
			</div>
			<div class='unit size1of3 lastUnit'>
				<h2>Design</h2>
				<img class='thumb float-left' width='150' height='100' src='{{ "/img/design-small.jpg"|mtime }}'>
				<p>
					As a design team we will work tirelessly to develop a logo for
					you that is original and informational. Your company&#8217;s logo
					should be recognizable at a glance. At el Swann Design will
					strive to create a logo that makes your company stand out from
					the crowd.

					Design Pricing: Please remember that no project is the same.
					Every logo and client requires a different amount of work. We
					can&#8217;t give you an accurate quote until we know exactly what you
					need created. Prices start as low as $99.00 but increase with
					time and layouts.
				</p>
			</div>
		</div>

		<p class='section'><span>&sect;</span></p>
		{% endblock %}

		{% block main %}
		<div id='content' class='line'>
			<div class='unit size2of3'>
				{% block body %}{% endblock body %}
			</div>
			<div class='unit size1of3 lastUnit'>
				<h2>Recent Photos</h2>
				<p class='thumbs'>
					{% for photo in recentphotos %}
						<a rel='photo' href='{{ photo.path.view }}'>
							<img class='thumb' src='{{ photo.path.thumb }}' alt='thumbnail'>
						</a>
					{% endfor %}
				</p>
			</div>
		</div>
		{% endblock main %}

	<!-- contents end here -->
	</div></div>

	<!-- footer starts here -->
	<div id='footer-wrapper'>

		<div class='line'>

		<div class='unit size2of5'>

			<a name='pricing'></a>
			<h3>Pricing</h3>
			<ul class='footer-list'>
				<li>
					<a href='#'>
						$75.00 - Children's Outdoor Portrait Session - Basic
						<br>
						<span>Session Includes - 30 minutes at your selected location</span>
					</a>
					<ul>
						<li>20 Full Quality Digital Photos - Includes Top 5</li>
						<li>20 Low Resolution Photos; better suited to email</li>
						<li>Top 5 Pics Edited</li>
					</ul>
				</li>
				<li>
					<a href='#'>
						$75.00 - Children's Outdoor Portrait Session - Deluxe
						<br>
						<span>Session Includes- 1 Full Hour at your selected location</span>
					</a>
					<ul>
						<li>30 Full Quality Digital Photos - Includes Top 10</li>
						<li>30 Low Resolution Photos; better suited to email</li>
						<li>Top 10 Pics Edited</li>
					</ul>
				</li>
				<li>
					<a href='#'>
						$50.00 - Children's Sports Photography 
						<br>
						<span>Session Includes- 30 minutes of photography</span>
					</a>
					<ul>
						<li>25 Full Quality Digital Photos - Includes Top 5</li>
						<li>25 Low Resolution Photos; better suited to email</li>
						<li>Top 5 Pics Edited</li>
					</ul>
				</li>
				<li>
					<a href='#'>
						$125.00 - Full Family Outdoor Photo Session
						<br>
						<span>Session Includes- 1 Hour at your selected location</span>
					</a>
					<ul>
						<li>40 Full Quality Digital Photos - Includes Top 10</li>
						<li>40 Low Resolution Photos; better suited to email</li>
						<li>Top 10 Pics Edited</li>
					</ul>
				</li>
				<li>
					<a href='#'>
						$175.00 - Full Family Bonus Package
						<br>
						<span>Session Includes- 1.5 Hours at your selected location(s)</span>
					</a>
					<ul>
						<li>40 Family Pictures + 25 Children's Outdoor Portraits</li>
						<li>65 Full Quality Digital Photos - Includes Top 10</li>
						<li>65 Low Resolution Photos; better suited to email</li>
						<li>Top 5 Family Pics Edited</li>
						<li>Top 5 Children's Pics Edited</li>
					</ul>
				</li>
			</ul>

		</div>

		<div class='unit size3of5 lastUnit'>

			<div class='line'>

				<div class='unit size2of3'>

					<h3 class='follow-button'></h3>
					<ul class='sidemenu tweets'>
					</ul>

				</div>

				<div class='unit size1of3 lastUnit'>

					<h3>About</h3>

					<p>
						<a href='http://www.twitter.com/elswann'>
							<img src='{{ "/img/lawton.jpg"|mtime }}' width='40' height='40' class='thumb float-left'>
						</a>
						el Swann was created after I saw a need for services
						like ours. For years, I created slide shows,
						photographed events, and even designed logos on my own.
						These hobbies became a way for me to share my
						creativity with others. Now I am taking it to the next
						level.
					</p>

					<p>
						<a href='mailto:elswann@elswann.com'>elswann@elswann.com</a>
					</p>

				</div>

			</div>

		</div>

		</div>

		<div id='footer-bottom'>

			<p class='bottom-left'>
				&nbsp; &copy;2010 <strong>elSwann.com</strong> &nbsp; &nbsp;
				design by <a href='http://www.styleshout.com/'>styleshout</a>
			</p>

			<p class='bottom-right'>
				<a href='/'>Home</a> |
				<a href='/feeds/atom.xml'>Feed</a>
			</p>

		</div>

	</div>
	<!-- footer ends here -->

	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js'></script>
	<script src='http://platform.twitter.com/anywhere.js?id=S7kjdzijerrpaDA43MX1ug&v=1'></script>
	{% ifdebug %}
		<script src='{{ "/js/jquery.lightbox.js"|mtime }}'></script>
		<script src='{{ "/js/home.js"|mtime }}'></script>
	{% else %}
		<script src='{{ "/js/_home.js"|mtime }}'></script>
	{% endifdebug %}
	{% block scripts %}{% endblock %}
</body>
</html>
