{% extends "base.html" %}

{% block title %}{{ post.title|escape }} - el Swann{% endblock %}
{% block body %}
<h2><a href='{{ post.path.view }}'>{{ post.title|escape }}</a></h2>

<p class='post-info'>
	<span>Posted by {{ post.author.nickname|escape }}</span>
	{% if post.tags %}
		<span> | Filed under </span>
		{% for tag in post.tags %}
			<a href="/tagged/{{ tag|escape }}">{{tag|escape}}</a>
			{% if not forloop.last %},{% endif %}
		{% endfor %}
	{% endif %}
</p>

{{ post.body|linebreaks }}

<p class='postmeta'>
	{% if prev %}
		<a id="prev" href="{{ prev.path.view }}">Previous Post</a> |
	{% endif %}
	{% if next %}
		<a id="next" href="{{ next.path.view }}">Next Post</a> |
	{% endif %}
	<span class='date'>{{ post.published|date }}</span>	
</p>
<a name='comments'></a>
<div id='comments'></div>

{% endblock %}
{% block scripts %}
	<script src='http://www.google.com/friendconnect/script/friendconnect.js'></script>
	<script>
		google.friendconnect.container.setParentUrl("/");
		google.friendconnect.container.renderWallGadget({
			id: "comments",
			site: "17225710136349188762",
			"view-params": {
				disableMinMax: true,
				scope: "ID",
				docId: {{ post.key.id }},
				startMaximized: true
			}
		},{
			BORDER_COLOR: "#ccc",
			ENDCAP_BG_COLOR: "#ebebeb",
			ENDCAP_TEXT_COLOR: "#333",
			ENDCAP_LINK_COLOR: "#a56f38",
			ALTERNATE_BG_COLOR: "#fff",
			CONTENT_BG_COLOR: "#fff",
			CONTENT_LINK_COLOR: "#00c",
			CONTENT_TEXT_COLOR: "#333",
			CONTENT_SECONDARY_LINK_COLOR: "#77c",
			CONTENT_SECONDARY_TEXT_COLOR: "#666",
			CONTENT_HEADLINE_COLOR: "#333",
			DEFAULT_COMMENT_TEXT: "-- add your comment here --",
			HEADER_TEXT: "Comments",
				POSTS_PER_PAGE: "15"
		});
	</script>
{% endblock %}
