{% extends "base.html" %}

{% block title %}Pricing - {{config.blog_name}}{% endblock %}
{% block body %}
<h2>Photography</h2>
<dl>
	<dt>Chilren's Outdoor Portrait Session - Basic</dt>
	<dd>
		<p>30 minutes at your selected location</p>
		<ul>
			<li>20 Full Quality Digital Photos - Includes Top 5</li>
			<li>20 Low Resolution Photos; better suited to email</li>
			<li>Top 5 Pics Edited</li>
		</ul>
	</dd>
</dl>

		<!--
          %h4 $75.00 - Children's Outdoor Portrait Session - Basic
          %p Session Includes - 30 minutes at your selected location
          %ul
            %li 20 Full Quality Digital Photos - Includes Top 5
            %li 20 Low Resolution Photos; better suited to email
            %li Top 5 Pics Edited

          %h4 $75.00 - Children's Outdoor Portrait Session - Deluxe
          %p Session Includes- 1 Full Hour at your selected location
          %ul
            %li 30 Full Quality Digital Photos - Includes Top 10
            %li 30 Low Resolution Photos; better suited to email
            %li Top 10 Pics Edited
                            
          %h4 $50.00 - Children's Sports Photography 
          %p Session Includes- 30 minutes of photography
          %ul
            %li 25 Full Quality Digital Photos - Includes Top 5
            %li 25 Low Resolution Photos; better suited to email
            %li Top 5 Pics Edited

          %h4 $125.00 - Full Family Outdoor Photo Session
          %p Session Includes- 1 Hour at your selected location
          %ul
            %li 40 Full Quality Digital Photos - Includes Top 10
            %li 40 Low Resolution Photos; better suited to email
            %li Top 10 Pics Edited

          %h4 $175.00 - Full Family Bonus Package
          %p Session Includes- 1.5 Hours at your selected location(s)
          %ul
            %li 40 Family Pictures + 25 Children's Outdoor Portraits
            %li 65 Full Quality Digital Photos - Includes Top 10
            %li 65 Low Resolution Photos; better suited to email
            %li Top 5 Family Pics Edited
            %li Top 5 Children's Pics Edited
			-->

{% endblock %}
