{% extends "base.html" %}
{% block title %}Admin - Photos{% endblock %}
{% block body %}
	<h2>Photos</h2>
	<form class='gray' action='/admin/photo/upload' enctype='multipart/form-data' method='post'>
		<input name='photos' type='file' multiple>
		<input type='submit' value='Upload'>
	</form>
	<p>
		{% if prev %}
			<a href='{{ prev }}'>&laquo; Previous</a>
		{% endif %}
		{% if next %}
			<a href='{{ next }}'>Next &raquo;</a>
		{% endif %}
	</p>
	<table class='gray'>
		<thead>
			<tr><th>Photo</th><th>Actions</th></tr>
		</thead>
		{% for photo in photos %}
			<tr>
				<td>
					<img class='thumb' src='{{ photo.path.thumb }}'>
				</td>
				<td>
					<a href='{{ photo.path.view }}'>View |</a>
					<form class='delete gray' action='{{ photo.path.delete }}' method='post'>
						<a href='#' class='delete'>Delete</a>
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
	<p>
		{% if prev %}
			<a href='{{ prev }}'>&laquo; Previous</a>
		{% endif %}
		{% if next %}
			<a href='{{ next }}'>Next &raquo;</a>
		{% endif %}
	</p>

{% endblock %}
{% block scripts %}
<script>
	jQuery( function( $ ){

		$( ".delete" ).click( function( event ) {
			var self = $( this );
			if ( confirm( "Delete this photo?" ) ) {
				self.closest( "form" ).submit();
			}
			return false;
		})

	});
</script>
{% endblock %}
