{% extends "base.html" %}
{% block title %}All Posts{% endblock %}
{% block head %}
	<style>
	</style>
{% endblock head %}
{% block menu %}
	<li><a href='/'>Home</a></li>
	<li id='current'><a href='/admin/posts'>Posts</a></li>
	<li><a href='/admin/img'>Images</a></li>
{% endblock menu %}
{% block main %}
	<h2>All Posts</h2>
	<p>
		<a href='/admin/post'>Write a post.</a>
	</p>
	<br>
	<p>
		{% if posts.prev %}
			<a href='{{ posts.prev }}'>&laquo; Previous</a>
		{% endif %}
		{% if posts.next %}
			<a href='{{ posts.next }}'>Next &raquo;</a>
		{% endif %}
	</p>
	<table class='gray posts'>
		<thead>
			<tr><th>Title</th><th>Body</th><th>Published</th><th>Actions</th></tr>
		</thead>
		{% for post in posts %}
			<tr>
				<td>
					<a href='{{ post.path.edit }}'>{{ post.title|escape }}</a>
				</td>
				<td>
					{{ post.body|truncatewords_html:"10" }}
				</td>
				<td>
					{% if post.draft %}
						Draft
					{% else %}
						{{ post.published|date:"h:m D d M Y" }}
					{% endif %}
				</td>
				<td>
					{% if not post.draft %}
						<a href='{{ post.path.view }}'>View</a> |
					{% endif %}
					<a href='{{ post.path.edit }}'>Edit</a> |
					<form class='delete gray' action='{{ post.path.delete }}' method='post'>
						<a href='#' class='delete'>Delete</a>
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
	<p>
		{% if posts.prev %}
			<a href='{{ posts.prev }}'>&laquo; Previous</a>
		{% endif %}
		{% if posts.next %}
			<a href='{{ posts.next }}'>Next &raquo;</a>
		{% endif %}
	</p>

{% endblock %}
{% block scripts %}
<script>
	jQuery( function( $ ){

		$( ".delete" ).click( function( event ) {
			var self = $( this );
			if ( confirm( "Delete this post?  (You cannot undo this.)" ) ) {
				self.closest( "form" ).submit();
			}
			return false;
		})

	});
</script>
{% endblock %}
